<section class="answers">
    <div class="container" id="container-content">
        <div class="answers-title">
            <div class="result-test-title">
                Результат прохождения теста
            </div>
            <div class="result-test-title-arrow">
                <img src="../static/images/Arrow-title-value.png" alt="">
            </div>
            <div class="result-test-title-value" id="result-test-title-value">
                Тест №1. “JavaScript: Начальный уровень”
            </div>
        </div>
        <h1>
            <span>Правильные ответы</span> к тесту
        </h1>
        <div class="result-test-who-done">
            Тест выполнил <span id="user-who-done"></span>
        </div>
    </div>
</section>
